# Compiled JavaScript files
lib/**/*.js
lib/**/*.js.map

# TypeScript v1 declaration files
typings/

# Node.js dependency directory
node_modules/

# Local environment variables
*.local
.env
.env.local

# Firebase configuration and logs
.runtimeconfig.json
firestore-debug.log
pubsub-debug.log
serviceAccountKey.json

# Package lock file
../package-lock.json

# Firebase project configuration (if necessary)
../.firebaserc
../firebase.json
